.heading{
    /* background:url("../../imgs/head_bg_img.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: center top; */
    width:100%;

    position: relative;
    display: flex;
}

#time{
    font-size: 18px;
}

.Title{
    position: absolute;
    font-size:  25px;
    font-weight:600;
    top:15%;
    left: 50%;
    transform: translateX(-50%);
    cursor:pointer;
    background-image:-webkit-linear-gradient(right, #5CD0FD,#ECE8EF ,#5CD0FD);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    text-align: center;
    
}

.Title_logo
{
    margin:0% 50%;
    top:0%;
}